.view_profile_modal_main p {
  margin: 0;
}

.view_profile_modal_main .modal-content {
  width: 600px !important;
  margin: 40px auto !important;
  /* height: 80vh; */
}
.view_profile_modal_main .modal-body {
  /* width: 600px !important; */
  /* margin: 5px auto !important; */
  /* height: 80vh; */
}

.view_profile_header {
  padding: 10px 0;
  width: 100%;
  display: flex;
  border-bottom: 1px gray solid;
}

.user_details {
  display: flex;
  border-bottom: 1px gray solid;
  padding: 10px 0;
}

.prop_cont {
  display: flex;
  margin: 10px 0;
}
.prop_cont img {
  height: 50px;
  width: 50px;
}
.prop_cont p {
  font-size: 14px;
  font-weight: bold;
}
.prop_cont span {
  font-size: 12px;
}
.left {
  border-right: 1px solid gray;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 25px;
}

.pet_details {
  padding: 10px 0;
  border-bottom: 1px gray solid;
  display: flex;
  justify-content: space-between;
}
.pet_details p {
  font-size: 14px;
  font-weight: bold;
}
.family_information {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
